:root {
    --darker-blue: #1b18e9;
    --lighter-blue: #12d1f3cb;
}

* {
    background-color: #f4f1f8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

a{
    color: var(--lighter-blue);
}

header {
    display: flex;
    flex-direction: colomn;
    flex: 1 0 100%;
    padding: 0.5rem;
    transition: flex-basis 500ms linear;
}

header h1{
    display:flex;
    flex-wrap: wrap;
    float: left;
    width: auto;
}

header nav{
    float:right;
}



h1,
h2{
    margin: 1rem;
    background-color: var(--lighter-blue);
}

.subtitle{
    display: flex;
    flex-direction: colomn;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.left-content {
    float: left;
    width: 25%;
}


.right-content {
    float: right;
    width: 75%;
}

.work-hilight{
    display: flex;
    flex-direction: colomn;
    width: 100%;
    background-color: violet;
}

.work{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: turquoise;
}

.content section div {
    color: var(--darker-blue);
}

@ media screen and (max-width: 992px) {

}

@ media screen and (max-width: 768px) {

}